<div class="container-fluid" id="footer">
    <div class="ft-fr">
        <small>Milana R.</small>

        <div id="social-media">
            <a class="btn"> <span class="fa fa-facebook"></span>
            </a>
            <a class="btn"> <span class="fa fa-instagram"></span>
            </a>
            <a class="btn"> <span class="fa fa-twitter"></span>
            </a>
            <a class="btn"> <span class="fa fa-linkedin"></span>
            </a>
            <a class="btn"> <span class="fa fa-github"></span>
            </a>
        </div>
        <small>
            2024, All rights reserved
        </small>

    </div>
</div>