<div class="container-fluid page1" id="fp">
    <div class="row">
        <div class="col-sm" id="fp-fc">
            <h2 id="mySpeech1" class="mySpeech"></h2>
            <h2>MILANA RADOVANOVIĆ</h2>
            <h1>Software developer</h1>
            <hr>
            <p>I'm junior software egineer with knowledge of C, C++, Java, .NET and TypeScript.</p>
            <a class="btn" href="/assets/cv.pdf" download> <span class="fa fa-download"></span>
                CV</a>
            <div class="btnShadow">

            </div>

        </div>
        <div class="col-sm" id="fp-sc">
            <img src="/assets/images/fp-img.jpg">
        </div>
    </div>
</div>