<div class="container-fluid page1" id="fp">
    <div class="row">
        <div class="col-sm" id="fp-fc">
            <h2 id="mySpeech1" class="mySpeech"></h2>
            <h2>{{person.name}}</h2>
            <h1>{{person.occupation}}</h1>
            <hr>
            <p>{{person.description}}</p>
            <a class="btn" href="/assets/cv.pdf" download> <span class="fa fa-download"></span>
                CV</a>
            <div class="btnShadow">

            </div>

        </div>
        <div class="col-sm" id="fp-sc">
            <img src="/assets/images/fp-img.jpg">
        </div>
    </div>
</div>