<div class="container-fluid page" id="sp">
    <div class="row" id="sp-fr">
        <h2 id="mySpeech">Something about my...</h2>
    </div>
    <div class="row" id="sp-sr">
        <div class="col-sm-4 sp-c">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/images/education.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">EDUCATION</h5>
                    <p class="card-text"></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col-sm-4 sp-c">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/assets/images/interests.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">INTERESTS</h5>
                    <p class="card-text"></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col-sm-4 sp-c">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/assets/images/languages.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">LANGUAGES</h5>
                    <p class="card-text"></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>