<div class="container-fluid" id="mainDiv">
  <div class="row">
    <app-nav-bar [activatePage]="activeSection"></app-nav-bar>
  </div>
  <section id="sfp" class="row hidden" style="margin: 0;">
    <app-first-page [fpActive]="activePage.fpActive" style="padding: 0;"></app-first-page>
  </section>
  <section id="ssp" class="row hidden" style="margin: 0;">
    <app-secound-page [spActive]="activePage.spActive" style="padding: 0;"></app-secound-page>
  </section>
  <section id="stp" class="row hidden" style="margin: 0;">
    <app-third-page [tpActive]="activePage.tpActive" style="padding: 0;"></app-third-page>
  </section>
  <section id="sfop" class="row hidden" style="margin: 0;">
    <app-fourth-page style="padding: 0;"></app-fourth-page>
  </section>
  <section id="sfip" class="row hidden" style="margin: 0;">
    <app-fifth-page [fipActive]="activePage.fipActive" style="padding: 0;"></app-fifth-page>
  </section>
  <section>

  </section>

  <div class="row" style="margin: 0;">
    <app-footer style="padding: 0;"></app-footer>
  </div>
</div>