<div class="container-fluid page" id="tp">
    <div class="row ">
        <div class="col-sm" id="tp-fc">
            <div class="row">
                <h2 id="mySpeech3" class="mySpeech"></h2>
            </div>
            <div class="row" id="tp-fc-sr" style="height: 80%; ">
                <div class="col" id="tr-fc">
                    <img src="/assets/images/fp-img.jpg" style="width: 90%;">
                </div>
                <h1>
                    SKILLS
                </h1>
                <div class="col" id="tr-sc">
                    <div *ngFor="let l of programmingLanguages">
                        <label for="html" class="form-label">{{l.name}}</label>
                        <input type="range" min="0" max="100" value="{{l.percentage}}" class="form-range" id="html">
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-2" id="tp-sc">
            <h1>
                SKILLS
            </h1>
        </div>
    </div>
</div>