<nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
    <a id="milana">Milana R.</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto" id="navbarUl">
            <li class="nav-item">
                <a [ngClass]="{'active': activatePage == 'sfp'}" class="nav-link" (click)="scrollToSection('fp')">HOME
                </a>
            </li>
            <li class="nav-item">
                <a [ngClass]="{'active': activatePage == 'ssp'}" class="nav-link"
                    (click)="scrollToSection('sp')">ABOUT</a>
            </li>
            <li class="nav-item">
                <a [ngClass]="{'active': activatePage == 'stp'}" class="nav-link"
                    (click)="scrollToSection('tp')">SKILLS</a>
            </li>
            <li class="nav-item">
                <a [ngClass]="{'active': activatePage == 'sfop'}" class="nav-link"
                    (click)="scrollToSection('fop')">PROJECTS</a>
            </li>
            <li class="nav-item">
                <a [ngClass]="{'active': activatePage == 'sfip'}" class="nav-link"
                    (click)="scrollToSection('fip')">CONTACT</a>
            </li>
        </ul>

    </div>
</nav>