<div class="container-fluid page" id="fop">
    <div class="row" id="fr">
        <h1>
            PROJECTS
        </h1>
    </div>
    <div class="row" id="projects">
        <div class="col project">
            <h3>NAME</h3>
            <img src="/assets/images/fp-img.jpg">
        </div>
        <div class="col project">
            <h3>NAME</h3>
            <img src="/assets/images/fp-img.jpg">
        </div>
        <div class="col project">
            <h3>NAME</h3>
            <img src="/assets/images/fp-img.jpg">
        </div>
        <div class="col project">
            <h3>NAME</h3>
            <img src="/assets/images/fp-img.jpg">
        </div>
    </div>
</div>