@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Playfair Display", serif;
}

.mySpeech {
    font-family: "Caveat", cursive;
    height: 50px;
}

#mainDiv {
    padding: 0;
}

.page {
    height: 100vh;
    padding-top: 10vh;
}

section {
    transition: opacity 1s ease-in-out;
}

.hidden {
    opacity: 0;
}




/*NAVBAR*/
#navbar {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #2F2F2F;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

#milana {
    display: none;
}

#navbarNav {
    display: flex;
    justify-content: center;
    position: sticky;
}

#navbarUl {
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

#navbarUl * {
    color: #F8EBEA;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: auto;

}

#navbarUl li :hover {
    color: #DCBCBA;
    cursor: pointer;

}

#navbarUl li .active {
    color: #DCBCBA;
    border-bottom: 2px solid #DCBCBA;
    /* Promeni boju na željenu */
}

/*FIRST PAGE*/
.page1 {
    height: 100vh;
}

#fp {
    background-color: #F8F8F8;

}

#fp .row {
    height: 100%;
}

#fp-fc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10vh;
    padding-left: 10vh;
}

#fp-fc h1 {
    font-family: "Playfair Display", serif;
    color: #DCBCBA;
}

#fp a {
    color: white;
    background-color: #2F2F2F;
    width: 120px;
    height: 40px;
    border: 0px;
    border-radius: 0%;
    box-shadow: 1px 1px 3px 0px #828282;

}

#fp a:hover {
    box-shadow: 5px 5px 0px 0px #828282;
}

#fp a * {
    color: white;
}

#fp-sc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;

}

#fp-sc img {
    width: 80%;
    border: 3px solid #2F2F2F;
}

/*SECOUND PAGE*/

#sp {
    height: fit-content;
}

#sp-fr {
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
}

#sp-sr {
    height: 80%;
    margin-bottom: 100px;

}

#sp-fr #mySpeech {
    color: #DCBCBA;
}

.sp-c {
    display: flex;
    justify-content: center;


}

.sp-c .card {
    background-color: #f8ebea90;
    border: 0px solid #2F2F2F;
    border-radius: 0px;
    box-shadow: 1px 1px 3px 0px #828282;

}

.sp-c .card .card-body .card-title {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.sp-c img {
    height: 10vh;
    width: auto;
    align-self: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card .accordion {
    background-color: #202020;
    color: #F8EBEA;
}

.card .accordion .card-item .card-header {
    background-color: #2F2F2F;
    border-bottom: 0.5px solid #F8EBEA
}

.card .accordion .card-item .card-header button {
    color: #F8EBEA;
    text-decoration: none;
}

/*THIRD PAGE*/

#tp {
    background-color: #f8ebea73;
    padding-top: 0px;
}

#tp>.row {
    height: 100%;
}

#tp-fc h2 {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 20px;
}

#tp-fc-sr #tr-fc {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#tp-fc-sr #tr-sc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;
    padding-left: 50px;
}

#tp-fc-sr h1 {
    display: none;
}

#tp-sc {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #2F2F2F;
    padding: 0;
}

#tp-sc h1 {
    color: white;
    font-size: 90px;
    margin-top: 260px;
    letter-spacing: 30px;
    transform: rotate(90deg);
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: #141212c2;
}

input[type="range"]::-webkit-slider-thumb {
    background-color: #ebd4d2;
}

input[type="range"] {
    pointer-events: none;
}

.range-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.range-row p {
    margin-bottom: 0px;
    margin-left: 5px;
    font-size: large;
}


/*FOURTH PAGE*/


#fop h1 {
    font-size: 90px;
    text-align: center;
}

.fop-c {
    display: flex;
    justify-content: center;
    align-content: center;
}

#projects {
    margin-top: 5vh;
}

#projects .col {
    display: flex;
    justify-content: center;
}

#fop .project {
    display: flex;
    flex-direction: column;
    background-color: #2F2F2F;
    text-align: center;
    align-items: center;
    padding-bottom: 30px;
    color: #F8EBEA;
    box-shadow: 2px 1px 5px #2F2F2F;
    border-radius: 0%;
    margin-bottom: 10px;
}

.project img {
    width: 90%;
}

/*FIFTH PAGE*/

#fip-fr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#cn-details {
    background-color: #f8ebeaa2;
    height: 80vh;
    width: 90vh;
    transform: translate(80px, 20px);
    display: flex;
    flex-direction: column;
    align-items: center;


}

#cn-details #mySpeech {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

#cn-details p {
    width: 350px;
    font-size: 14px;
}

#fip-fr img {
    width: 80vh;
    z-index: 1;
    border: 1px solid #2F2F2F;
    padding: 0px;
}

#fip-fr .form-group {
    margin-top: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fip a {
    color: white;
    background-color: #2F2F2F;
    width: 120px;
    height: 40px;
    border: 0px;
    border-radius: 0%;
    margin-top: 10px;
}

#fip-sr {
    background-color: #2F2F2F;
}

/*FOOTER*/
#footer {
    height: 70px;
    background-color: #2F2F2F;
    color: #F8EBEA;
}

#footer .ft-fr {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer .ft-fr * {
    display: flex;
    align-items: center;

}

#footer .ft-fr small {
    width: 170px;
}

#footer .btn {
    color: #F8EBEA;
}




@media screen and (max-width: 600px) {

    #sp,
    #fop {
        height: fit-content;

    }

    #tp {
        height: 90vh;
    }

    #milana {
        display: contents;
        font-size: larger;
        color: #F8EBEA;
    }

    #fp-sc {
        display: none;
    }

    .sp-c {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    #tp-fc-sr h1 {
        display: flex;
        color: white;
        font-size: 90px;
        letter-spacing: 30px;
        transform: rotate(45deg) translate(120px, 110px);
    }

    #tp-sc {
        display: none;
    }

    #tp-fc h2 {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    #tp-fc-sr #tr-fc {
        display: none;
    }

    #tp-fc-sr #tr-sc {
        justify-content: start;
        margin-top: -60px;
        margin-bottom: 0px;
        z-index: 1;
    }

    #cn-details {
        margin-left: -30px;
    }

    #fip-fr img {
        display: none;

    }

    #footer .ft-fr small {
        width: 100px;
    }
}

@media screen and (max-width: 1200px) {
    #milana {
        display: contents;
        font-size: larger;
        color: #F8EBEA;
    }

    #tp-sc h1 {
        font-size:
            70px;
    }

    #cn-details {
        height: 80vh;
        width: 60vh;
        transform: translate(30px, 0px);

    }


    #cn-details p {
        width: 300px;
        font-size: 12px;
        text-align: center;
    }

    #fip-fr img {
        width: 40vh;
    }

    #fip-fr .form-group * {
        width: 250px;
        font-size: small;
    }


}