@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Playfair Display", serif;
}

#mySpeech {
    font-family: "Caveat", cursive;
}

#mainDiv {
    padding: 0;
}

.page {
    height: 95vh;

}



/*NAVBAR*/
#navbar {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #2F2F2F;
    width: 100%;
    position: fixed;
    z-index: 1;
}

#milana {
    display: none;
}

#navbarNav {
    display: flex;
    justify-content: center;
    position: sticky;
}

#navbarUl {
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

#navbarUl * {
    color: #F8EBEA;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: auto;

}

/*FIRST PAGE*/
.page1 {
    height: 100vh;
}

#fp {
    background-color: #F8F8F8;

}

#fp .row {
    height: 100%;
}

#fp-fc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10vh;
    padding-left: 10vh;
}

#fp-fc h1 {
    font-family: "Playfair Display", serif;
    color: #DCBCBA;
}

#fp a {
    color: white;
    background-color: #2F2F2F;
    width: 120px;
    height: 40px;
    border: 0px;
    border-radius: 0%;
}

#fp a * {
    color: white;
}

#fp-sc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;

}

#fp-sc img {
    width: 80%;
    border: 3px solid #2F2F2F;
}

/*SECOUND PAGE*/

#sp-fr {
    padding-top: 5vh;
    padding-bottom: 10vh;
    text-align: center;
}

#sp-fr #mySpeech {
    color: #DCBCBA;
}

.sp-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sp-c .card {
    background-color: #f8ebeac2;
    border: 3px solid #2F2F2F;
    border-radius: 0px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px #2F2F2F;
}

.sp-c .card .card-body .card-title {
    text-align: center;
}

.sp-c img {
    height: 10vh;
    width: auto;
    align-self: center;
    margin-top: 10px;
}

.card li {
    background-color: #2F2F2F;
    color: #F8EBEA;
}



/*THIRD PAGE*/

#tp {
    background-color: #f8ebea73;
}

#tp>.row {
    height: 100%;
}

#tp-fc h2 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

#tp-fc-sr #tr-fc {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#tp-fc-sr #tr-sc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;
    padding-left: 50px;
}

#tp-fc-sr h1 {
    display: none;
}

#tp-sc {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #2F2F2F;
    padding: 0;
}

#tp-sc h1 {
    color: white;
    font-size: 90px;
    margin-top: 260px;
    letter-spacing: 30px;
    transform: rotate(90deg);
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: #141212c2;
}

input[type="range"]::-webkit-slider-thumb {
    background-color: #DCBCBA;
}

input[type="range"] {
    pointer-events: none;
}




@media screen and (max-width: 600px) {
    .page {
        height: fit-content;

    }

    #tp {
        height: 90vh;
    }

    #milana {
        display: contents;
        font-size: larger;
        color: #F8EBEA;
    }

    #fp-sc {
        display: none;
    }

    .sp-c {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    #tp-fc-sr h1 {
        display: flex;
        color: white;
        font-size: 90px;
        letter-spacing: 30px;
        transform: rotate(45deg) translate(120px, 110px);
    }

    #tp-sc {
        display: none;
    }

    #tp-fc h2 {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    #tp-fc-sr #tr-fc {
        display: none;
    }

    #tp-fc-sr #tr-sc {
        justify-content: start;

        margin-top: -60px;
        margin-bottom: 0px;
        z-index: 1;
    }
}

@media screen and (max-width: 1200px) {
    #milana {
        display: contents;
        font-size: larger;
        color: #F8EBEA;
    }

    #tp-sc h1 {
        font-size: 70px;
    }

}